---
import { db, Pessoa } from "astro:db";

const pessoas = await db.select().from(Pessoa).orderBy(Pessoa.nome);
---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lista de Pessoas</title>
	</head>
	<body>
		<h1>{pessoas.length} Pessoas</h1>
		<ul>
			{pessoas.map(({ nome }) => <li>{nome}</li>)}
		</ul>
	</body>
</html>
